doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Travel Road
  body
    h1 My Travel Bucket List

    a(href='wished') Places I'd Like to Visit
    br    
    a(href='visited') Places I've Already Been To

    p Powered by #{'Express!'}
